                        <!--APPROVAZIONE CONFORME-->
                        <!--visualizzabile se lo stato della convenzione è approvato-->
                                      
                          <h3 class="box-title m-t-40">
                              Approvazione
                          </h3>
                          <div *ngIf="conv.schematipotipo=='schematipo'">       
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>                                           
                                            <td width="390"> Non richiesta ulterirore approvazione degli organi </td>
                                            <td></td>
                                        </tr>
                                        <tr *ngIf="appr.docAppr">
                                            <td>{{appr.docAppr.descrDocumento}}</td>
                                            <td><app-rangedetails [numero]="appr.docAppr.numero" [data]="appr.docAppr.data"></app-rangedetails></td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--FINE APPROVAZIONE CONFORME-->

                        <!--APPROVAZIONE NON CONFORME-->
                        <!--visualizzabile se lo stato della convenzione è inapprovazione o approvato o oltre-->
                        <div *ngIf="conv.schematipotipo=='daapprovare'">                          
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>                                            
                                            <td width="390">Richiesta approvazione degli organi                                                
                                                <span [ngSwitch]="conv.current_place">                        
                                                  <span *ngSwitchCase="'inapprovazione'" class="label label-rounded label-warning ml-1">In approvazione</span>                                                                          
                                                </span>                                                  
                                            </td>
                                            <td></td>
                                        </tr>                                        
                                        <tr>
                                            <td>Richiesta approvazione inviata a</td>
                                            <td>{{appr?.richiestaname}}</td>
                                        </tr> 
                                        <tr *ngIf="appr.docAppr">
                                            <td>{{appr.docAppr.descrDocumento}}</td>                                            
                                            <td><app-rangedetails [numero]="appr.docAppr.numero" [data]="appr.docAppr.data"></app-rangedetails></td>
                                        </tr> 
                                        <tr *ngIf="appr.docApprOrgani">
                                            <td>{{appr.docApprOrgani.descrDocumento}}</td>
                                            <td><app-rangedetails [numero]="appr.docApprOrgani.numero" [data]="appr.docApprOrgani.data"></app-rangedetails></td>                                            
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--FINE APPROVAZIONE NON CONFORME-->
