                        <!--APPROVAZIONE CONFORME-->
                        <!--visualizzabile se lo stato della convenzione è approvato-->                        
                        <div class="d-flex align-items-center box-title m-t-40">
                            <!-- <div *ngIf="executed()" class="m-r-10">
                                <a class="btn btn-circle btn-success text-white"><i class="fa fa-check"></i></a>
                            </div> -->
                            <div class="">
                                <h3 class="m-b-0">Approvazione</h3>
                            </div>
                        </div>                                                                                           
                          <div *ngIf="conv.schematipotipo=='schematipo'">       
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>                                           
                                            <td width="390">Approvata</td>
                                            <td></td>
                                        </tr>
                                        <tr *ngIf="appr.docAppr">
                                            <td>{{appr.docAppr.descrDocumento}}</td>
                                            <td><app-rangedetails [numero]="appr.docAppr.numero" [data]="appr.docAppr.data"></app-rangedetails></td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--FINE APPROVAZIONE CONFORME-->

                        <!--APPROVAZIONE NON CONFORME-->
                        <!--visualizzabile se lo stato della convenzione è inapprovazione o approvato o oltre-->
                        <div *ngIf="conv.schematipotipo=='daapprovare'">                          
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>                                            
                                            <td width="390">Richiesta approvazione degli organi                                                
                                                <span [ngSwitch]="conv.current_place">                        
                                                  <span *ngSwitchCase="'inapprovazione'" class="label label-rounded label-warning ml-1">In approvazione</span>                                                                          
                                                </span>                                                  
                                            </td>
                                            <td></td>
                                        </tr>                                        
                                        <tr>
                                            <td>Richiesta approvazione inviata a</td>
                                            <td>{{appr?.richiestaname}}</td>
                                        </tr> 
                                        <tr *ngIf="appr.docAppr">
                                            <td>{{appr.docAppr.descrDocumento}}</td>                                            
                                            <td><app-rangedetails [numero]="appr.docAppr.numero" [data]="appr.docAppr.data"></app-rangedetails></td>
                                        </tr> 
                                        <tr *ngIf="appr.docApprOrgani">
                                            <td>{{appr.docApprOrgani.descrDocumento}}</td>
                                            <td><app-rangedetails [numero]="appr.docApprOrgani.numero" [data]="appr.docApprOrgani.data"></app-rangedetails></td>                                            
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--FINE APPROVAZIONE NON CONFORME-->
