
<app-fase-wrapper [options]="{title: 'Esecuzione', type: this.executedtype()}">
  <div *ngIf="executed()>=0">       
  <div class="table-responsive">
      <table class="table table-hover">
          <tbody>            
              <tr>                                           
                <td width="390">Periodo</td>
                <td>dal {{conv.data_inizio_conv}} al {{conv.data_fine_conv}}</td>
              </tr>                                      
          </tbody>
      </table>
  </div>
  </div>
</app-fase-wrapper>