<div class="container-fluid">
    <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <h4 *ngIf="title">{{title}}</h4>

    <div class="btn-toolbar mb-4" role="toolbar">
        <div class="btn-group">
            <button *ngIf="activeNew" class="btn btn-outline-primary border-0 rounded-0" (click)="onNew()" >              
                <span class="oi oi-document"></span>
                <span class="ml-2">Nuovo</span>
            </button> 
            <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()">
                <span class="oi oi-arrow-top"></span>
                <span class="ml-2">Aggiorna</span>
            </button>
            <button *ngIf="isReloadable" class="btn btn-outline-primary border-0 rounded-0" (click)="onReload()" [disabled]="!form.dirty">
                <span class="oi oi-reload iconic" title="reload" aria-hidden="true"></span>
                <span class="ml-2">Ricarica</span>
            </button>
            <button *ngIf="researchPath" class="btn btn-outline-primary border-0 rounded-0" (click)="onResearch()">
                <span class="oi oi-magnifying-glass"></span>
                <span class="ml-2">Ricerca</span>
            </button>
        </div>
    </div>

    <form [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [form]="form" [options]="options">

        </formly-form>
    </form>
</div>