<nav class="toc py-3">
  <!-- <div class="toc-item" [class.active]="isActive(['/'], true)">
    <a class="toc-link" routerLink="/">Home</a>
  </div>
  <div class="toc-item" [class.active]="isActive(['/getting-started'])">
    <a class="toc-link" routerLink="/getting-started">Getting Started</a>
  </div> -->

  <div *ngFor="let nav of entries" class="toc-item">
    <h5 class="nav-link">{{ nav.title }}</h5>
    <ul class="nav flex-column">
        <div *ngFor="let link of nav.links">
        <li  *ngxPermissionsOnly=link.permissions>                        
            <a [routerLink]="link.href" class="toc-link active">
                {{ link.text }}
            </a>
        </li>
        </div>
    </ul>
  </div> 
</nav>

