<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.role" [form]="item"></app-dynamic-form>          
</td>
<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.title" [form]="item"></app-dynamic-form>             
</td>
<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.istitute" [form]="item"></app-dynamic-form>                 
</td>
<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.from" [form]="item"></app-dynamic-form>               
</td>
<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.to" [form]="item"></app-dynamic-form>           
</td>
<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.document" [form]="item"></app-dynamic-form> 
</td>
<td>
  <app-dynamic-form class="col-md-4 mb-3" [control]="controls.path" [form]="item"></app-dynamic-form>               
</td>              
