<!-- ng xi18n --output-path locale/ --out-file messages.it.untranslated.xlf -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Lista notifiche</h4>
        <div class="todo-widget scrollable"  style="height:300px;" [perfectScrollbar]="config">
              <!-- Comment Row -->                    
            <ul class="list-task todo-list list-group m-b-0  m-r-15" data-role="notifications" >       
                <div *ngFor="let notification of model | async">  
                    <li class="list-group-item list-group-item-action todo-item" data-role="notification">                               
                        <div class="todo-label" style="padding-left: 25px;">
                            <span class="todo-desc">{{ notification.data.message }}</span>
                            <span class="badge badge-pill badge-danger float-right" i18n>{notification.type, select, App\Notifications\ConvenzioneApprovata {ConvenzioneApprovata}}</span>
                        </div>                    
                        <ul class="list-style-none assignedto">
                            <!-- <li class="assignee">
                                <img class="assignee-img" src="assets/images/users/1.jpg" alt="user" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Steave">
                            </li>                       -->
                        </ul>
                        <div class="item-date">{{notification.created_at | date:'d MMMM, yyyy'}}</div>
                    </li>
                </div>   
            </ul>
        </div>
    </div>
</div>