<!--The whole content below can be removed with the new code.-->
<app-navigation></app-navigation>

<div class="container">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <hr />
    <!-- <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">        
      <div class="form-group">       
        <input type="text" class="form-control" id="name">
        <label for="name">Item Name:</label>
      </div>
      <div class="form-group">      
        <input type="text" class="form-control" id="price">
        <label for="price">Item Price:</label>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form> -->
    <app-submission></app-submission>

    <table class="table table-striped table-hover table-responsive mt-4" id="datatable">
      <!-- <thead>
        <tr>
        <th>@lang('submission.name')</th>
        <th>@lang('submission.surname')</th>
        <th>@lang('submission.gender')</th>
        <th>@lang('submission.fiscalcode')</th>
        <th>@lang('submission.birthplace')</th>
        <th>@lang('submission.birthprovince')</th>
        <th>@lang('submission.birthdate')</th>
        <th>@lang('submission.com_res')</th>
        <th>@lang('submission.prov_res')</th>
        <th>@lang('submission.via_res')</th>
        <th>@lang('submission.civ_res')</th>
        <th>@lang('submission.presso')</th>
        </tr>
      </thead>    -->
      <tbody>               
      <tr *ngFor="let submission of (submissions$)">
        <td>{{ submission.name }}</td>
        <td>{{ submission.surname }}</td>
        <td>{{ submission.gender }}</td>
        <td>{{ submission.fiscalcode }}</td>
        <td>{{ submission.birthplace }}</td>
        <td>{{ submission.birthprovince }}</td>
        <td>{{ submission.birthdate }}</td>
        <td>{{ submission.com_res }}</td>
        <td>{{ submission.prov_res }}</td>
        <td>{{ submission.via_res }}</td>
        <td>{{ submission.civ_res }}</td>
        <td>{{ submission.presso }}</td>
      </tr>    
    </tbody>
    </table>  
  
    
    
</div>

