<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!--<app-info-card></app-info-card>-->
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Notifiche -->
<!-- ============================================================== -->
<app-notifications></app-notifications>
<!-- ============================================================== -->
<!-- Notifiche -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!--Lista task-->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <app-tasklist [title]="'Attività recenti ufficio'" [model]="myofficetasks" [isLoading]="isLoadingOfficeTask"></app-tasklist>        
    </div>
    <!-- column -->
    <div class="col-lg-6">
        <app-tasklist [title]="'Attività assegnate a te'" [model]="mytasks" [isLoading]="isLoadingTask"></app-tasklist>
    </div>
</div>
<!-- ============================================================== -->
<!-- Lista task -->
<!-- ============================================================== -->