<div class="d-flex align-items-center box-title m-t-40">
    <!-- <div *ngIf="executed()" class="m-r-10">
        <a class="btn btn-circle btn-success text-white"><i class="fa fa-check"></i></a>
    </div> -->
    <div class="">
        <h3 class="m-b-0">Conservazione</h3>
    </div>
</div>     
<div *ngIf="executed()">       
<div class="table-responsive">
    <table class="table">
        <tbody>            
            <tr *ngIf="conv.bollo_virtuale">                                           
              <td width="390">Bollo virtuale</td>
              <td>
                <div *ngFor="let bollo of rep?.bolli">
                    <span [ngSwitch]="bollo.codice">                        
                        <span *ngSwitchCase="'BOLLO_TEC_ALLEGATO'">Tecnici n. </span>   
                        <span *ngSwitchDefault>n. </span>                                                                       
                    </span> 
                    <span>{{ bollo.num_bolli }}</span>
                </div>
              </td>
            </tr>                        
            <tr>                                           
                <td width="390">Repertoriato</td>
                <td><app-rangedetails [numero]="rep.repertorio.numero" [data]="rep.repertorio.data"></app-rangedetails></td>                 
            </tr>           
        </tbody>
    </table>
</div>
</div>
