<!-- <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Procedura selettiva</h1>
        <p class="lead text-muted">Procedura selettiva progressioni economiche orizzontali.</p>
        <p>
          <button class="btn btn-primary my-2" type="button"  (click)="btnClick();" >Accedi alla procedura selettiva</button>        
        </p>
    </div>
</section> -->

<app-navigation></app-navigation>
<!-- d-none d-md-block bg-light -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" >
            <div *ngFor="let nav of navs">
                <h5>{{ nav.title }}</h5>
                <ul class="nav flex-column">
                    <div *ngFor="let link of nav.links">
                    <li  class="nav-item" *ngxPermissionsOnly=link.permissions>                        
                        <a [routerLink]="link.href" class="nav-link active">
                            {{ link.text }}
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
            </div>  
        </nav>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> 



    <!-- <div class="row">
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </div>
    </div> -->
