<form [formGroup]="submissionForm" (ngSubmit)="register(submissionForm)" accept-charset="UTF-8" class="form-horizontal needs-validation is-valid"
  id="form-with-validation">

  <!-- si può condizionare lo stato dei campi passando 'disabled'-->
  <h5>Dati personali</h5>
  <div class="form-row">
    <div class="form-group col-md-6 mb-3">
      <label for="name" class="control-label active">Nome</label>
      <input class="form-control" name="name" type="text" formControlName="name" id="name">

    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="surname" class="control-label active">Cognome</label>
      <input class="form-control" name="surname" type="text" formControlName="surname" id="surname">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2 mb-3">
      <div class="select-wrapper">
        <input type="text" class="dropdown select-dropdown" data-toggle="dropdown" readonly="true" formControlName="gender">
        <label for="gender" class="control-label">Sesso</label>
      </div>
    </div>

    <div class="form-group col-md-4 mb-3">
      <label for="fiscalcode" class="control-label active">Codice fiscale</label>
      <input class="form-control" name="fiscalcode" type="text" formControlName="fiscalcode" id="fiscalcode">

    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="birthplace" class="control-label active">Città di nascita</label>
      <input class="form-control" name="birthplace" type="text" formControlName="birthplace" id="birthplace">

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-3">
      <label for="birthprovince" class="control-label active">Provincia di nascita</label>
      <input class="form-control" name="birthprovince" type="text" formControlName="birthprovince" id="birthprovince" aria-invalid="false"
        aria-describedby="birthprovince-error">
      <span id="birthprovince-error" class="invalid-feedback" style="display: inline;"></span>

    </div>
    <div class="form-group col-md-6 mb-3 input-group date">
      <label for="birthdate" class="control-label active">Data di nascita</label>
      <input class="form-control datepicker" type="text" name="birthdate" formControlName="birthdate" id="birthdate">

    </div>
  </div>
  <h5>Residenza</h5>
  <div class="form-row">
    <div class="form-group col-md-6 mb-3">
      <label for="com_res" class="control-label active">Comune di residenza</label>
      <input class="form-control" name="com_res" type="text" formControlName="com_res" id="com_res">

    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="prov_res" class="control-label active">Provincia di residenza</label>
      <input class="form-control" name="prov_res" type="text" formControlName="prov_res" id="prov_res">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 mb-3">
      <label for="via_res" class="control-label active">Via di residenza</label>
      <input class="form-control" name="via_res" type="text" formControlName="via_res" id="via_res">

    </div>
    <div class="form-group col-md-2 mb-3">
      <label for="civ_res" class="control-label active">Civico</label>
      <input class="form-control" name="civ_res" type="text" formControlName="civ_res" id="civ_res">

    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="presso" class="control-label active">Presso?</label>
      <input class="form-control" name="presso" type="text" formControlName="presso" id="presso">

    </div>
  </div>

  <div class="mt-4">
  <h5>Lista incarichi</h5>
  <table class="table table-striped table-hover table-responsive-md">
      <thead> </thead>
  <tbody formArrayName="assignments">
    <tr *ngFor="let assignment of submissionForm.get('assignments').controls; let i = index;">
      <ng-container formGroupName="{{i}}">
      <td>
        <div class="form-group">
          <input type="text" formControlName='role' id='role'>
          <label for="role" class="control-label active">Ruolo</label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" type="text" formControlName='title' id='title'>
          <label for="title" class="control-label active">Titolo</label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" type="text" formControlName='institute' id='institute'>
          <label for="institute" class="control-label active">Instituto</label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" type="text" formControlName="from" id='from'>
          <label for="from" class="control-label active">Da</label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" type="text" formControlName='to' id='to'>
          <label for="to" class="control-label active">A</label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" type="text" formControlName='document' id='document'>
          <label for="document" class="control-label active">Documento</label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" type="text" formControlName='path' id='path'>
          <label for="path" class="control-label active">Percorso</label>
        </div>
      </td>
    </ng-container>
    </tr> 
  </tbody>
  </table>  
  </div>

  <p>
    <input class="btn btn-primary" type="submit" value="Aggiorna">
  </p>

</form>