<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>

<div class="btn-toolbar mb-4" role="toolbar">
  <div class="btn-group btn-group-sm">    
    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onNew()"  >              
        <span class="oi oi-document"></span>
        <span class="ml-2">Nuovo</span>
    </button>    
    <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid" (click)="onSubmit()" >              
        <span class="oi oi-arrow-top"></span>  
        <span class="ml-2">Aggiorna</span>
    </button>
    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onReload()">
        <span class="oi oi-reload iconic" title="reload" aria-hidden="true" ></span>
        <span class="ml-2">Ricarica</span>
    </button>   
    <button class="btn btn-outline-primary border-0 rounded-0">
        <span class="oi oi-trash"></span>
        <span class="ml-2">Rimuovi</span>
      </button>
  </div>
</div>

<form [formGroup]="form" >
  <formly-form [model]="model" [fields]="fields" [form]="form">
    <!-- <button type="submit" class="btn btn-primary submit-button">Submit</button>
    <button type="button" class="btn btn-default">Reset</button> -->
  </formly-form> 
</form>

<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>



