<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>

<div class="sticky-top btn-toolbar mb-4" role="toolbar">
  <div class="btn-group btn-group-sm">    
    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onNew()" >              
        <span class="oi oi-document"></span>
        <span class="ml-2">Nuovo</span>
    </button>    
    <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()" >              
        <span class="oi oi-arrow-top"></span>  
        <span class="ml-2">Aggiorna</span>        
    </button>
    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onReload()"  [disabled]="isNew || !form.dirty">
        <span class="oi oi-reload iconic" title="reload" aria-hidden="true" ></span>
        <span class="ml-2">Ricarica</span>
    </button>   
    <button class="btn btn-outline-primary border-0 rounded-0">
        <span class="oi oi-magnifying-glass"></span>
        <span class="ml-2">Ricerca</span>
      </button>
  </div>
</div>

<app-navstepper-wrapper [steps]="steps"></app-navstepper-wrapper>

<h4>Convenzione</h4>
<form *ngIf='model' [formGroup]="form" >
  <formly-form  [model]="model" [fields]="fields" [form]="form" [options]="options">
    <!-- <button type="submit" class="btn btn-primary submit-button">Submit</button>
    <button type="button" class="btn btn-default">Reset</button> -->
  </formly-form> 
</form>

<br>
<br>

<div>
  <button class="btn btn-primary border-0 rounded-0" (click)="onGenerate()" [disabled]="form.dirty" >              
    <span class="oi oi-document"></span>
    <span class="ml-2">Scarica convezione</span>
  </button>  
</div>

<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>



