<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>

<div class="btn-toolbar mb-4" role="toolbar">
  <div class="btn-group">    
    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onNew()" >              
        <span class="oi oi-document"></span>
        <span class="ml-2">Nuovo</span>
    </button>    
    <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()" >              
        <span class="oi oi-arrow-top"></span>  
        <span class="ml-2">Aggiorna</span>        
    </button>
    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onReload()"  [disabled]="isNew || !form.dirty">
        <span class="oi oi-reload iconic" title="reload" aria-hidden="true" ></span>
        <span class="ml-2">Ricarica</span>
    </button>   
    <button class="btn btn-outline-primary border-0 rounded-0">
        <span class="oi oi-magnifying-glass"></span>
        <span class="ml-2">Ricerca</span>
      </button>
  </div>
</div>

<!-- [justify]="currentJustify" -->

<ngb-tabset  #tabs >
  <ngb-tab title="Convenzione" id="tab-selectbyconvenzione">
    <ng-template ngbTabContent>
        <div class="mt-2"></div>    
        <form *ngIf="model" [formGroup]="form.at(0)" class="mt-1" >
          <formly-form  [model]="model" [fields]="fields" [form]="form.at(0)" [options]="options[0]">
          </formly-form>       
        </form>
      <p>Form value: {{ form.value | json }}</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Allegati"  id="tab-selectbyallegati">    
    <ng-template ngbTabContent>      
      <div class="mt-2"></div>      
        <form *ngIf="model" [formGroup]="form.at(1)" class="mt-1" >
        <formly-form  [model]="model" [fields]="fieldsattachment" [form]="form.at(1)" [options]="options[1]">  
        </formly-form>       
        <p>Form value: {{ form.at(1).value | json }}</p>
        </form> 
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Attività">
    <ng-template ngbTabContent>
      <div class="mt-2"></div>      
        <form *ngIf="model" [formGroup]="form.at(2)" class="mt-1" >
        <formly-form  [model]="model" [fields]="fieldsusertask" [form]="form.at(2)" [options]="options[2]">  
        </formly-form>       
        </form>
      <div class="mt-2"></div>
      <ngb-accordion *ngIf="modelUserTaskDetail" #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Dettaglio Attvità">
          <ng-template ngbPanelContent>
            <app-user-task-detail *ngIf="modelUserTaskDetail" [model]="modelUserTaskDetail"></app-user-task-detail>          
          </ng-template>  
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Stato">
    <ng-template ngbTabContent>      
        <form *ngIf="model" [formGroup]="form.at(3)" class="mt-1" >
        <formly-form  [model]="model" [fields]="fieldstask" [form]="form.at(3)" [options]="options[3]">  
        </formly-form>       
        </form>
    </ng-template>
  </ngb-tab>
</ngb-tabset>




<!-- [pdfFile]="model.convenzione_pdf" -->
<!-- <section id="viewer">
  Simple PDF Viewer: open the test.pdf at the second page 
  <simple-pdf-viewer #pdfSimpleViewer [src]=""></simple-pdf-viewer>
</section> -->

<br>
<br>

<!-- <div>
  <button class="btn btn-primary border-0 rounded-0" (click)="onGenerate()" [disabled]="form.dirty" >              
    <span class="oi oi-document"></span>
    <span class="ml-2">Scarica convezione</span>
  </button>  
</div> -->


<!-- <p>Form status: {{ model | json }}</p> -->



