<!-- navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary  px-4 flex-column flex-md-row">
  <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a> -->

  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Uniconv</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Domande</a>
      </li>     
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Ricerca</a>
      </li>
    </ul>
  </div>
  <a  class="btn btn-primary my-2 my-sm-0" href="{{baseurl + '/redirect'}" 
  *ngIf="!(isLoggedIn$ | async) as isLoggedIn" >Login google</a>
  <!-- <button class="btn btn-primary my-2 my-sm-0" (click)="goLogin()">Login</button> -->
  <a  class="btn btn-primary my-2 my-sm-0" href="{{baseurl + 'api/loginSaml'}}" 
  *ngIf="!(isLoggedIn$ | async) as isLoggedIn else logout" >Login</a>
  <ng-template #logout>
    <button class="btn btn-primary my-2 my-sm-0" (click)="onLogout()" >Logout ({{ getName() }}) </button>
  </ng-template>
</nav>